body {
  font-family: Garamond,serif; /* Fuente de texto de toda la página */
  background: linear-gradient(135deg, #9c27b0, #2196f3); /* Fondo degradado horizontal */
  color: #A52A2A; /* Color de texto cafe */
  text-align: left; /* Centra el texto horizontalmente */
  height: 100vh; /* Ocupa el 100% de la altura de la ventana */
  margin: 5; /* márgenes por defecto */
  display: flex; /* Activa flexbox */
  justify-content: left; /* Centra el contenido horizontalmente */
  align-items: left; /* Centra el contenido horizonatlmente */
}

.container {
  background: rgba(0, 0, 0, 0.9); /* Fondo negro semitransparente */
  padding: 50px; /* Espacio interno alrededor del contenido */
  border-radius: 20px; /* Bordes redondeados */
  width: 60%; /* Ocupa 60% del ancho de la pantalla */
  max-width: 500px; /* No supera los 500px de ancho */
  box-shadow: 0px 8px 17px rgba(0,0,0,0.3); /* Sombra para dar efecto flotante */
}

h1 {
  margin-bottom: 30px; /* Espacio debajo del título */
  font-size: 29px; /* Tamaño de letra del título */
}

#quote {
  font-size: 17px; /* Tamaño de letra de la musica */
  margin: 24px 0; /* Espacio arriba y abajo */
  min-height: 60px; /* Altura mínima para evitar que el cuadro cambie de tamaño cuando cambia el texto */
}

button {
  background: #ffeb3b; /* Color de fondo amarillo dorado */
  border: none; /* Sin borde */
  padding: 22px 23px; /* Espaciado interno */
  font-size: 18px; /* Tamaño de letra */
  border-radius: 20px; /* Bordes redondeados */
  cursor: pointer; /* Cambia el cursor a "mano" al pasar encima */
  transition: 0.6s; /* Suaviza las transiciones al pasar el mouse */
}

button:hover {
  background: #ffb300; /* Color más oscuro al pasar el mouse */
}






